<!doctype html>
<html class="full">

<body>

<head>
    <title>SMS BULK MESSAGE SENDER</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      .full {
  background: url(https://drive.google.com/open?id=0B2xNhNbxK_P-UHVBdjNyYWt1em8) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    </style>
</head>



</body>


</html>