<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Starter Template for Bootstrap 3.3.6</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>body {
            padding-top: 50px;
            background-color: gray;
        }
       .balance{

            font-family: verdana;
            padding-top: 50px;
            padding-bottom: 70px;


        }

    </style>

    <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
</head>

<body>
<div class="container">
    <!----------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------ROW------------------------------------------------------------------>
    <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header"><a class="navbar-brand" href="#">SMS Sender</a></div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/message">HOME</a></li>
                    <li class="active"><a href="/accountmanagement">ACCOUNT MANAGEMENT</a></li>
                    <li><a href="/adduser">ADD USER</a></li>
                    <li><a href="logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>

        </nav>
    </div>
    <!----------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------ROW------------------------------------------------------------------>
    <% if (balance.length > 0) { %>


    <div class="row balance" >
        <div class="col-lg-8">


            <form class="form-horizontal" role="form">
                <div class="form-group"><label for="balance" class="col-sm-3 control-label ">Balance:</label>

                    <div class="col-sm-3"><input type="text" style="text-align: right" class="form-control " id="balance" value="<%= balance %> " ></div>
                </div>
            </form>


        </div>
        <div class="col-lg-2"></div>
    </div>
    <%}%>
    <!----------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------ROW----------------------------------------------------------------->
    <div class="row">

        <div class="col-lg-8">
            <form class="form-horizontal" role="form" action="/passwordchange" method="post">
                <div class="form-group"><label for="currentpassword" class="col-sm-3 control-label">Current
                        Password</label>

                    <div class="col-sm-9"><input name="currentpassword" type="password" class="form-control"
                                                 id="currentpassword"
                                                 placeholder="Enter Current Password"></div>
                </div>
                <div class="form-group"><label for="newpassword" class="col-sm-3 control-label">New Password</label>

                    <div class="col-sm-9"><input name="newpassword" type="password" class="form-control"
                                                 id="newpassword"
                                                 placeholder="Enter New Password">
                    </div>
                </div>
                <div class="form-group"><label for="retypepassword" class="col-sm-3 control-label">Re Type
                        Pasword</label>

                    <div class="col-sm-9"><input type="password" class="form-control " id="retypepassword"
                                                 name="retypepassword"
                                                 placeholder="Re type Password"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default btn-lg">SAVE <span
                                    class="glyphicon glyphicon-save"></span></button>
                    </div>
                </div>
            </form>
        </div>
        <% if (message.length > 0) { %>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel"> SMS bulk sender</h4></div>
                    <div class="modal-body"> <%= message %></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content --> </div>
            <!-- /.modal-dialog --> </div>
        <!-- /.modal -->

        <script type="text/javascript">
            window.addEventListener('load', function () {
                $('#myModal').modal('show');
            });
        </script>

        <% } %>

        <div class="col-lg-2"></div>

    </div>
    <!----------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>

</script>

</body>

</html>
