<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>
  


  <div class="container">
      <div class="row">

          <div class="col-lg-4"></div>
          <div class="col-lg-4">
              <div class="ct-chart ct-perfect-fourth"></div>
          </div>
          <div class="col-lg-4"></div>
      </div>

  </div>

  
  <script>
      var data = {
          series: [5, 3, 4]
      };

      var sum = function(a, b) { return a + b };
      var options = {
          width:100,
          height: 100
      };
      new Chartist.Pie('.ct-chart', data,options, {
          labelInterpolationFnc: function(value) {
              return Math.round(value / data.series.reduce(sum) * 100) + '%';
          }
      });


</script>
</html>