body {
    padding-top: 80px;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text-color{
    color: white;
}
.text-flash-color{
    color: black;
}
.balance{

    font-family: verdana;
    padding-top: 50px;
    padding-bottom: 70px;


}